* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  object-fit: cover;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
}
